$base-size: 16px;
$radius: 5px;
$btn-width: 144px;
$transition: cubic-bezier(0.4, 0, 0.2, 1);

/* colors */
$primary: #857d87;
$secondary: #262542;
$white: #dcdde1;
$black: #2d3436;
$background: #c8d6e5;
