@import '../../../styles/settings.scss';

.root {
  .toolbar {
    display: flex;
    justify-content: center;
  }

  .title {
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
  }
}
